Source: waydroid-images-33
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               curl,
               tar,
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/furilabs/waydroid-images-33
Vcs-Git: https://github.com/furilabs/waydroid-images-33.git

Package: waydroid-system-33
Architecture: any
Depends: ${misc:Depends}
Provides: waydroid-system-image
Description: Waydroid System Image
 This package provides a working Android system image for
 Waydroid.

Package: waydroid-vendor-33
Architecture: any
Depends: ${misc:Depends}
Provides: waydroid-vendor-image
Description: Waydroid Vendor Image - gsi-33
 This package provides a working Android vendor image for
 Waydroid.
