Source: andromeda-images-33
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               curl,
               tar,
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/andromeda-images-33
Vcs-Git: https://github.com/furilabs/andromeda-images-33.git

Package: andromeda-system-33
Architecture: arm64
Depends: ${misc:Depends}
Provides: andromeda-system-image
Description: Andromeda System Image
 This package provides a working Android system image for
 Andromeda.

Package: andromeda-vendor-33
Architecture: arm64
Depends: ${misc:Depends}
Provides: andromeda-vendor-image
Description: Andromeda Vendor Image - gsi-33
 This package provides a working Android vendor image for
 Andromeda.
